body{
    background-color: rgb(92, 164, 164);
    text-align: center;
    
}
form{
    margin: auto;
    display:inline-block;
    width: 350px;
    height: 350px;
    background:#fff;
    margin-top: 90px;
}
button{
    background-color: rgb(62, 62, 220);
    padding: 10px 15px 10px 15px;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px auto;
    cursor: pointer;
}
input{
    margin: 5px auto;
    height: 30px;
    padding: 3px 0px 3px 7px;
    border-radius: 4px;
    border: none;
    width: 250px;
    background: #81e1f7;
}
h1{
    margin-top:60px;
    text-decoration: underline 3px ;
}